# Prefect
target/
logs/
.idea/
.cache/

# dbt
dbt_packages/

# iPython notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.jupyter/
.local/
.ipython/

# config files (if used)
config.py
config.yaml

# JSON keys
*.json
