# Prefect
target/
logs/
.idea/
.cache/
.user.yml

# dbt
dbt_packages/

# iPython notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.jupyter/
.local/
.ipython/
.DS_Store
*/__pycache__/


# config files (if used)
config.py
config.yaml

# JSON keys
*.json
