# pip
pip>=21.1.2

# pandas
pandas>=1.0.3
#pandas_datareader>=0.8.1
#pandas-gbq>=0.13.1
#scipy>=1.9.0
#numpy

# gcp
#google-cloud>=0.34.0
#google-oauth>=1.0.0
#google-cloud-storage>=1.27.0
#google-cloud-bigquery>=1.22.0
#google-resumable-media>=0.5.0
#gcloud==0.18.3
#gsutil==5.12

# dbt
dbt-core
dbt-bigquery

# prefect
prefect
prefect-dbt
gcsfs

# slack
#slack_sdk

# misc
#pytest
#requests

# omit?
#tqdm>=4.45.0
#pyarrow
